.balance {
    color: red;
}

td.data_cell {
    padding: 0 5px 0 5px;
}

td.right_padding_cell {
    padding: 0 5px 0 5px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    td.data_cell {
        font-size: 18px;
    }
}
