.balance {
    color: red;
}

td.data_cell {
    padding: 0 5px 0 5px;
}

td.right_padding_cell {
    padding: 0 5px 0 5px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    table, tr, tbody, td, th {
        font-size: 22px;
    }
    html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        font-weight: 300;
        font-family: Poppins;
        -ms-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .kt-aside__brand-logo {
        display: none;
    }
}
