RewriteEngine on
# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName rabta-online.com
AuthUserFile /home/rabtako/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/rabtako/public_html/_vti_pvt/service.grp
RewriteCond %{HTTP_HOST} ^rabta-online.com$
RewriteRule ^portfolio/?(.*)$ http://%20http://www.rabta-online.com/portfolio/$1 [R=301,L]

