.balance {
    color: red;
}

td.data_cell {
    padding: 0 5px 0 5px;
}

td.right_padding_cell {
    padding: 0 5px 0 5px;
}
a.no-print.right.button {
    border: 1px solid #ffffff;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    color: #ffffff;
    cursor: pointer;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}